<header class="jumbotron subhead">
        <h1>About</h1>
        <p class="lead">Made possible with these fab open source components:</p>
</header>

<div class="row">
    <div class="span3">
        <div class="well">
            <ul class="nav nav-pills nav-stacked"></ul>
        </div>
    </div>
    <div class="span8" id="details"></div>
</div>
