<header class="hero-unit">
        <h1>Welcome!</h1>
        <p class="lead">Your now running with Backbone on Sintatra with Coffeescript, Bootstrap, Hogan.js tempating, SASS &amp; Compass </p>
</header>